#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.truck{
    margin-top: 100px;
    grid-row: 1/3;
    transform: rotate(-2deg);
    background-color: white;
    padding: 10px;
}
